/* 
NR1 styling clashes with semantic
This file reimplements semantic css with !important to allow Semantic components to be styled correctly
*/


.ui.search.selection.dropdown>input.search {
  line-height: 1.21428571em !important;
  padding: 0.67857143em 2.1em 0.67857143em 1em !important;
}

.ui.search.dropdown>input.search {
  position: absolute !important;
  z-index: 2 !important;
}

.ui.search.dropdown>input.search {
  background: none transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: text !important;
  top: 0 !important;
  left: 1px !important;
  width: 100% !important;
  outline: 0 !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  padding: inherit !important;
}

i.icon.loading {
  animation: icon-loading 6s linear infinite !important;

}

/* i.icon, i.icons {
  font-size: 1.3em !important;
} */
/* make graph responsive */
/* #graphid-graph-container-zoomable {
  transform: translate(17vw, 7vw) scale(0.5) !important;
  width: 100%;
} */

.link>text {
  text-align: justify;
  word-break: break-all;
  fill: #205527;
  font-size: 2.2vw;
}
@media only screen and (min-width:1340px) {
  #graphid-graph-container-zoomable {
    transform: translate(17vw, 7vw) scale(0.45) !important;
    width: 100%;
  }

  .node>text {
    text-align: justify;
    word-break: break-all;
    fill: #205527;
    font-size: 2.2vw;
  }
}

@media only screen and (min-width:1199px) and (max-width:1340px) {
  #graphid-graph-container-zoomable {
    transform: translate(17vw, 7vw) scale(0.4) !important;
    width: 100%;
  }
  .node>text {
    text-align: justify;
    word-break: break-all;
    fill: #205527;
    font-size: 2.3vw;
  }
}

@media only screen and (min-width:1620px) and (max-width:1838px){
  #graphid-graph-container-zoomable {
    transform: translate(17vw, 7vw) scale(0.55) !important;
    width: 100%;
  }
  .node>text {
    text-align: justify;
    word-break: break-all;
    fill: #205527;
    font-size: 2vw;
  }
}

@media only screen and (min-width:1519px) and (max-width:1620px) {
  #graphid-graph-container-zoomable {
    transform: translate(17vw, 7vw) scale(0.5) !important;
    width: 100%;
  }

  .node>text {
    text-align: justify;
    word-break: break-all;
    fill: #205527;
    font-size: 2vw;
  }
}

@media only screen and (min-width:1839px) and (max-width:2010px){
  #graphid-graph-container-zoomable {
    transform: translate(17vw, 7vw) scale(0.6) !important;
    width: 100%;
  }
  .node>text {
    text-align: justify;
    word-break: break-all;
    fill: #205527;
    font-size: 1.8vw;
  }
}
/* @media only screen and (min-width:2050px){
  #graphid-graph-container-zoomable {
    transform: translate(17vw, 9vw) scale(0.7) !important;
    width: 100%;
  }
} */

.ui.table {
  background: transparent !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.ui.table thead th {
  background: transparent !important;
  color: #205527;
  font-size: 1vw;
}

td:not(.u-unstyledTd),
th:not(.u-unstyledTh) {
  background: transparent;

}